body {
    font-family: "Instrument Sans", serif;
    line-height: 1.5;
    margin: 0;
    /* background-color: rgb(36, 36, 36); */
    color: #343434;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    /* color: inherit; */
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}