.wrapper {
    padding: 32px;
}

.after::after {
    content: '';
    border: 1px solid #D61B2B;
    width: 100%;
    /* max-width: 335px; */
    margin-bottom: 46px;
    margin-top: 32px;
    display: block;
}